/* =============
    Footer
============= */

#footer{

    display: grid;
    grid-template-columns: 310px auto;
    grid-template-areas: ". footer ."; 

#footer-content {
      grid-area: footer; }
}